.container {
  padding: 2rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 0 auto;
}

input, select, button {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--gray);
}

.confirmar {
  background-color: var(--red);
  color: var(--soft-white);
  cursor: pointer;
  transition: 0.3s;
}

.confirmar:hover {
  background-color: var(--terceary);
}
