.header {
width: 100%;
height: 60px;
background-color: blue;
color: #fff;

display: flex;
align-items: center;
justify-content: space-around;
}

.header span {
font-size: 1.5rem;
font-weight: bold;
}

.header a {
text-decoration: none;
color: #fff;
padding-right: 1.5rem;
}

.header a:hover {
  color: var(--red);
}