.container {
  padding: 2rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 0 auto;
}

input, select, button {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--gray);
}

button {
  cursor: pointer;
  transition: 0.3s;
}

.salvar {
  background-color: var(--primary);
  color: var(--soft-white);
}

.editar {
  background-color: var(--terceary);
  color: var(--soft-white);
}

.excluir {
  background-color: var(--red);
  color: var(--soft-white);
}

button:hover {
  opacity: 0.8;
}
